@import url('https://fonts.googleapis.com/css?family=Courgette');

body{
    overflow-x : hidden;
    font-family: 'Courgette', cursive;
    color: #505962;
}

/*----navigation----*/

.navbar{
  text-transform: uppercase;
  font-weight : 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background: rgba(0,0,0, 0.6) !important;
}
.narbar-brand img{
  height: 2rem;
}
.narbar-nav li{
  padding-right: .7rem; 
}

.narbar-dark .navbar-nav .nav-link{
  color: white;
  padding-top: .8rem;
}
.narbar-dark .navbar-nav .nav-link.active, 
.navbar-link .navbar-nav, .nav-link:hover{
  color: #1ebba3;
} 

/*landing page*/
.home-inner{
  background-image: url(img/computers.png);
}
.caption{
  width: 100%;
  max-width:100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  text-transform: uppercase;
}
.caption h1{
  font-size: 3.8 rem;
  font-weight: 700;
  letter-spacing: .3 rem;
  color : white;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 1.6rem;
}
.caption h3{
  font-size: 2 rem;
  color: white;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 1.6rem;
}
.fixed {
  background-image: url(img/apple.png);
  z-index: -1;
}
.dark{
  background-color : rgba(0,0,0, 0.75);
  color : white;
  padding: 7rem 0 2rem 2rem;
}

.btn-lg{
  border-width: medium;
  border-radius: 0;
  padding: 0.6rem, 1.3rem;
  font-size: 1.1rem;
}

.narrow {
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}
.narrow h1 {
    font-size: 2.4rem;
  }
.btn-secondary {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color: #1EBBA3;
  background-color: #1EBBA3;
  color: white;
}
.btn-secondary:hover,
.btn-secondary:focus {
  border-color: #189582;
  background-color: #189582;
  color: white;
}

footer{
  background-color: #40474e;
  color: white;
  padding: 2rem 0 2rem;
  margin-top: 1rem; 
}
 footer img {
   height: 2rem;
   margin: 1.5rem 0;
 }
 footer a {
   color: white;
 }

 footer svg.svg-inline--fa{
   font-size: 1.6rem;
   margin:1.2rem, .5rem 0 0;
 }
 footer svg.svg-inline--fa:hover{
    color: #1ebba3!important;
 }
 hr.socket{
   width: 100%;
   border-top: .2rem solid #666b71;
   margin-top: 3rem;
 }


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
